

# Create a custom log format with just the info we need to
# summarize session concurrency

# epoch,session_id
LogFormat "{{'%{%s}t,%{edware}C'}}" concurrency_metrics

# Send it to a moving-window counter
CustomLog "||/etc/sensu/plugins/srl-web-concurrency-processor.rb " concurrency_metrics

