<IfModule worker.c>
    ThreadLimit         120
    StartServers        1
    ServerLimit         4
    MaxClients          120
    MinSpareThreads     30
    MaxSpareThreads     120
    ThreadsPerChild     30
    MaxRequestsPerChild  0
    MaxMemFree          256
</IfModule>