WSGIApplicationGroup %{GLOBAL}
WSGIPassAuthorization On
WSGIDaemonProcess pyramid user=apache group=apache processes=2 threads=30 python-path=/opt/virtualenv/smarter_score_batcher/lib/python3.3/site-packages
WSGIScriptAlias / /opt/edware/smarter_score_batcher/smarter_score_batcher.wsgi
WSGIImportScript /opt/edware/smarter_score_batcher/smarter_score_batcher.wsgi process-group=pyramid application-group=%{GLOBAL}
WSGISocketPrefix run/wsgi
<Directory /opt/virtualenv/smarter_score_batcher>
   WSGIProcessGroup pyramid
   Order allow,deny
   Allow from all
</Directory>
WSGIPythonPath /opt/virtualenv/smarter_score_batcher/lib/python3.3/site-packages
