#!/bin/bash
PYTHONDIR=/usr/bin
NAMEDPIDFILE=/var/run/named/named.pid
(test ! -s $NAMEDPIDFILE) && echo "named lock file not found!" && exit
NAMEDPID=`/bin/cat $NAMEDPIDFILE` 
ZONEFILE=/var/named/zone/INTERNAL.{{ ec2_tag_environment }}.sbac2dc.net
REVZONEFILE=/var/named/zone/INTERNAL.{{ ec2_private_ip_address.split('.')[1] }}.10.in-addr.arpa
SPORKPATH=/root
SERIAL=`/bin/date +%Y%m%d%H%S`

TEMPFILECONTENT=`$PYTHONDIR/python $SPORKPATH/srl-aws-spork.py -li` 
(
flock -x -w 60 200 || exit 128

echo "" | /usr/bin/tee $REVZONEFILE > $ZONEFILE
echo ";" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "\$TTL 1h" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "@ IN SOA  ns.{{ ec2_tag_environment }}.sbac2dc.net.{{ ec2_tag_environment }}.sbac2dc.net (" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "      $SERIAL ;serial (version)" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "          3h  ;refresh period" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "          1h  ;retry refresh this often" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "          1w  ;expiration period" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "          1h  ;Negative caching TTL" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "      )" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "" | /usr/bin/tee -a $REVZONEFILE >> $ZONEFILE
echo "                              IN NS      ns" >> $ZONEFILE
echo "ns                            IN A       {{ ec2_private_ip_address }}" >> $ZONEFILE
echo "                          IN NS      ns.{{ ec2_tag_environment }}.sbac2dc.net." >> $REVZONEFILE
#echo "18.55                     IN PTR     ns.{{ ec2_tag_environment }}.sbac2dc.net." >> $REVZONEFILE
echo "{{ ec2_private_ip_address.split('.')[3] }}.{{ ec2_private_ip_address.split('.')[2] }}                     IN PTR     ns.{{ ec2_tag_environment }}.sbac2dc.net." >> $REVZONEFILE


echo "Creating entries..."
while read i
do
    SHORTNAME="`echo $i | cut -d, -f1`"
    echo "Shortname: $SHORTNAME"
    PRIVATE_IP="`echo $i | cut -d, -f4`"
    echo "priv ip: $PRIVATE_IP"
    ENVIRONMENT="`echo $i | cut -d, -f5`"
    echo "env: $ENVIRONMENT"

    LASTOCT="`echo $PRIVATE_IP | cut -d '.' -f 4`"
    THIRDOCT="`echo $PRIVATE_IP | cut -d '.' -f 3`"

    if [[ $SHORTNAME != *_* ]] && \
        [[ $SHORTNAME != *.* ]] && \
        [[ $SHORTNAME != "None" ]] && \
        [[ $SHORTNAME != *" "* ]] && \
        [[ $PRIVATE_IP != "None" ]] && \
        [[ "z$ENVIRONMENT" == "z{{ ec2_tag_environment }}" ]]
    then
        echo "Adding $SHORTNAME"
        echo "$SHORTNAME              IN A $PRIVATE_IP" >> $ZONEFILE
        echo "$LASTOCT.$THIRDOCT                    IN PTR $SHORTNAME.{{ ec2_tag_environment }}.sbac2dc.net." >> $REVZONEFILE
    fi
done <<< "$TEMPFILECONTENT"


chown named:named $ZONEFILE
chown named:named $REVZONEFILE
) 200>$ZONEFILE

echo "Restarting named..."
kill -1 $NAMEDPID
