cluster=edware_pg_cluster
node={{ ec2_id | instance_id_2_node_id }}
node_name={{ ec2_tag_Name }}
conninfo='host={{ ec2_tag_Name }}.{{ dns_search_domain }} user=repmgr dbname=edware'
pg_bindir=/usr/pgsql-9.2/bin
