[app]
celery.backend = amqp://{{ udl_rabbit_username }}:{{ udl_rabbit_password }}@{{ udl_rabbit_host }}:5671/udl
celery.broker = amqp://{{ udl_rabbit_username }}:{{ udl_rabbit_password }}@{{ udl_rabbit_host }}:5671/udl
celery.broker_use_ssl = {'ca_certs': '/opt/edware/conf/testca/cacert.pem', 'keyfile': '/opt/edware/conf/client/key.pem', 'certfile': '/opt/edware/conf/client/cert.pem', 'cert_reqs': True }
celery.include = ['edudl2.udl2.W_schedule_pipeline', 'edudl2.udl2.W_file_arrived', 'edudl2.udl2.W_file_decrypter', 'edudl2.udl2.W_file_expander', 'edudl2.udl2.W_get_params', 'edudl2.udl2.W_simple_file_validator', 'edudl2.udl2.W_file_splitter', 'edudl2.udl2.W_parallel_csv_load', 'edudl2.udl2.W_load_csv_to_staging', 'edudl2.udl2.W_file_content_validator', 'edudl2.udl2.W_load_json_to_integration', 'edudl2.udl2.W_load_to_integration_table', 'edudl2.udl2.W_determine_end_chain', 'edudl2.udl2.W_load_sr_integration_to_target', 'edudl2.udl2.W_load_from_integration_to_star', 'edudl2.udl2.W_post_etl', 'edudl2.udl2.W_report_error_or_success', 'edudl2.udl2.W_all_done', 'edudl2.udl2.W_tasks_utils', 'edudl2.benchmarking.run_benchmarks']
celery.root = udl2.celery
celery_defaults.CELERYD_CONCURRENCY = 1
celery_defaults.CELERY_DEFAULT_EXCHANGE = direct
celery_defaults.CELERY_DEFAULT_QUEUE = celery
celery_defaults.CELERY_DEFAULT_ROUTING_KEY = celery
db_defaults.echo = False
db_defaults.max_overflow = 0
db_defaults.pool_size = 2
edware_stats.db.schema_name = edware_stats
# NOTE: this must be the same server as reporting's stats table
edware_stats.db.url = postgresql+psycopg2://{{ edware_stats_db_username }}:{{ edware_stats_db_password }}@{{ edware_stats_db_host }}:5432/edware_stats
file_splitter.keep_headers = True
file_splitter.output_path = .
file_splitter.parts = 1
file_splitter.row_limit = 10000
gpg_home = /opt/edware/gnupg
logging.audit = /opt/edware/log/udl2.audit.log
logging.debug = False
logging.error = /opt/edware/log/udl2.error.log
logging.level = INFO
notification_max_attempts = 5
notification_retry_interval = 30
notification_timeout_interval = 30
passphrase = {{ udl_passphrase }}
# Tenant Specific Configuration - This should be readonly db, not master
{% for tenant in tenants %}
prod_db_conn.{{ tenant.name }}.db_schema = {{ tenant.schema_name }}
prod_db_conn.{{ tenant.name }}.url = postgresql+psycopg2://{{ tenant.edware_db_username }}:{{ tenant.edware_db_password }}@{{ tenant.edware_db_host }}:{{ tenant.edware_db_port | default(9999) }}/edware
{% endfor %}
quiet_mode = False
rabbitmq.RABBITMQ_SERVER_PATH = ['/opt/local/sbin/rabbitmq-server', '/usr/local/sbin/rabbitmq-server']
# Tenant Specific Staging database
{% for staging_tenant in staging_tenants %}
target_db_conn.{{ staging_tenant.name }}.url = postgresql://{{ staging_tenant.staging_db_username }}:{{ staging_tenant.staging_db_password }}@{{ staging_tenant.staging_db_host }}:5432/edware
{% endfor %}
udl2_db_conn.db_schema = udl2
# UDL Db
udl2_db_conn.url = postgresql://{{ udl_db_username }}:{{ udl_db_password }}@{{ udl_db_host }}:5432/udl2
udl2_trigger.base_dir = /opt/edware/zones/landing
udl2_trigger.file_checksum_threshold_wait_period = 30
udl2_trigger.file_patterns_to_watch = ['*.gpg', '*.gpg.done']
udl2_trigger.file_stat_watch_interval = 2
udl2_trigger.file_stat_watch_period = 10
udl2_trigger.file_system_scan_delay = 10
udl2_trigger.source_dir = arrivals
zones.arrivals = /opt/edware/zones/landing/arrivals/
zones.history = /opt/edware/zones/landing/history/
zones.landing = /opt/edware/zones/landing/
zones.work = /opt/edware/zones/landing/work/
mail.server_host = email-smtp.us-east-1.amazonaws.com
mail.server_port = 465
mail.smtp_username = {{ ses_SMTP_username }}
mail.smtp_password = {{ ses_SMTP_password }}
mail.udl_report.from = DoNotReply@SmarterBalanced.org
mail.udl_report.to = eseitembanksupport@ets.org
mail.udl_report.subject = UDL Report
mail.udl_report.enabled = True
