# -*-sh-*-
# This file is maintained by ansible. Local changes will be lost.

# SBAC: override resolv.conf generation to use our fixed (from ansible) values, 
# instead of the values from AWS DHCP.
make_resolv_conf() {
    [ "${PEERDNS}" = "no" ] && return

    if [ "${reason}" = "RENEW" ] &&
       [ "${new_domain_name}" = "${old_domain_name}" ] &&
       [ "${new_domain_name_servers}" = "${old_domain_name_servers}" ]; then
        return
    fi

    echo "; This file is maintained by ansible. Local changes will be lost." > /tmp/resolv.conf
    echo "search {{ dns_search_domain}}" >> /tmp/resolv.conf
    echo "nameserver {{ bind_host }}" >> /tmp/resolv.conf

    change_resolv_conf /tmp/resolv.conf
    rm -f /tmp/resolv.conf
    fix_context /etc/resolv.conf
}
