; this file is controlled by ansible
; if you make changes, they will probably get overwritten later

[smarter-3p]
name=smarter 3rd party rpm repo
baseurl=http://smarter-{{yum_env}}-3p-yum-repo.s3.amazonaws.com/
failovermethod=priority
enabled=1
s3_enabled=1
gpgcheck=0
priority=1

[smarter]
name=smarter RPM repo
baseurl=http://smarter-{{yum_env}}-yum-repo.s3.amazonaws.com/edware/
failovermethod=priority
enabled=1
s3_enabled=1
gpgcheck=0

[postgres]
name=Postgres repo
baseurl=http://smarter-{{yum_env}}-yum-repo.s3.amazonaws.com/postgres/
failovermethod=priority
enabled=1
s3_enabled=1
gpgcheck=0
